.imageintro {
    width: 300px; /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
    border-radius: 50%; /* This creates the oval shape */
    overflow: hidden;
    border: 5px solid #000; /* Optional: add a border */
  }
  
 .imageintro  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  